.mat-sidenav-container {
    height: 100%;
}

.mat-sidenav {
    min-width: 192px;
}

.user-name {
    margin-bottom: 1.5rem;
}

.mat-nav-list > a:hover {
    background: rgba(122, 84, 124, .3);
}

.mat-icon {
    color: #3C325C; 
}

.mat-toolbar {
    justify-content: space-between;
    background: #3C325C;
}

.profile {
    margin: 10px auto;
    display: block;
    border-radius: 50%;
    width: 100px;
}

.mat-toolbar h2 {
    color: #fff;
    font-family: Cormorant, Garamond, Arial, Helvetica, sans-serif;
    font-size: 2rem;
    font-weight: 700;
}

