
<mat-sidenav-container>

    <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'" 
                 [opened]="!mobileQuery.matches && currentUser">

        <img class="profile" src="https://via.placeholder.com/150" alt="profile">
        <p *ngIf="currentUser" class="text-center">
            <strong style="display: block">{{currentUser.nameUser}}</strong>
            <small>{{currentUser.privilegesTypeUser}}</small>
        </p>

        <mat-nav-list *ngIf="currentUser">
            <a mat-list-item routerLink="returnUrl(currentUser.privilegesTypeUser)">
                <mat-icon mat-list-icon>home</mat-icon>
                Home
            </a>

            <a mat-list-item [matMenuTriggerFor]="menu" *ngIf="currentUser.privilegesTypeUser === 'ADMINISTRATOR'">
                <mat-icon mat-list-icon>group</mat-icon>
                Usuarios
            </a>
            <mat-menu #menu="matMenu" xPosition="after">
                <button mat-menu-item routerLink="administrator/registrar/autor">Registrar autor</button>
                <button mat-menu-item routerLink="administrator/registrar/comite">Registrar miembro del comite</button>
                <button mat-menu-item mat-menu-item routerLink="administrator/registrar/evaluador">Registrar evaluador</button>
            </mat-menu>

            <a mat-list-item routerLink="author/registrar/article" *ngIf="currentUser.privilegesTypeUser === 'AUTHOR'">
                <mat-icon mat-list-icon>note_add</mat-icon>
                Registrar articulo
            </a>

            <a mat-list-item routerLink="author/myarticles" *ngIf="currentUser.privilegesTypeUser === 'AUTHOR'">
                <mat-icon mat-list-icon>library_books</mat-icon>
                Mis articulos
            </a>

            <a mat-list-item (click)="snav.toggle(); logOut();">
                <mat-icon mat-list-icon>close</mat-icon>
                Salir
            </a>
         </mat-nav-list>

    </mat-sidenav>
    <mat-sidenav-content>
            
        <mat-toolbar class="mat-elevation-z1" *ngIf="currentUser">
            <h2>Magasoft.</h2>
            <button mat-icon-button (click)="snav.toggle()" *ngIf="mobileQuery.matches">
                <mat-icon>menu</mat-icon>
            </button>
        </mat-toolbar>

        <router-outlet></router-outlet>

    </mat-sidenav-content>

</mat-sidenav-container>