
<mat-sidenav-container>

    <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'" 
                 [opened]="!mobileQuery.matches && currentUser">

        <img class="profile" src="https://via.placeholder.com/150/7A547C/7A547C" alt="profile">

        <p *ngIf="currentUser" class="text-center user-name">
            <strong style="display: block">{{currentUser.nameUser}}</strong>
            <small>{{currentUser.privilegesTypeUser}}</small>
        </p>

        <mat-nav-list *ngIf="currentUser">

            <a mat-list-item routerLink="returnUrl(currentUser.privilegesTypeUser)">
                <mat-icon mat-list-icon>home</mat-icon>
                Home
            </a>

            <a mat-list-item [matMenuTriggerFor]="menu" *ngIf="currentUser.privilegesTypeUser === 'ADMINISTRATOR'">
                <mat-icon mat-list-icon>group</mat-icon>
                Usuarios
            </a>
            <mat-menu #menu="matMenu" xPosition="after">
                <button [matMenuTriggerFor]="menuUser" mat-menu-item>
                    <mat-icon mat-list-icon>group_add</mat-icon>
                    Registrar usuarios
                </button>
                <button mat-menu-item routerLink="administrator/usuarios">
                    <mat-icon mat-list-icon>search</mat-icon>
                    Buscar usuarios
                </button>
            </mat-menu>
            <mat-menu #menuUser="matMenu" xPosition="after">
                <button mat-menu-item routerLink="administrator/registrar/autor"><mat-icon mat-list-icon>person_add</mat-icon>Registrar autor</button>
                <button mat-menu-item routerLink="administrator/registrar/comite"><mat-icon mat-list-icon>person_add</mat-icon>Registrar comité</button>
                <button mat-menu-item mat-menu-item routerLink="administrator/registrar/evaluador"><mat-icon mat-list-icon>person_add</mat-icon>Registrar evaluador</button>
            </mat-menu>

            <a mat-list-item [matMenuTriggerFor]="menuCat" *ngIf="currentUser.privilegesTypeUser === 'ADMINISTRATOR'">
                <mat-icon mat-list-icon>settings</mat-icon>
                Opciones
            </a>
            <mat-menu #menuCat="matMenu" xPosition="after">
                <button mat-menu-item routerLink="administrator/registrar/categoria">
                    <mat-icon mat-list-icon>category</mat-icon>
                    Registrar categoria
                </button>
            </mat-menu>

            <a mat-list-item routerLink="author/registrar/article" *ngIf="currentUser.privilegesTypeUser === 'AUTHOR'">
                <mat-icon mat-list-icon>note_add</mat-icon>
                Registrar articulo
            </a>

            <a mat-list-item routerLink="author/myarticles" *ngIf="currentUser.privilegesTypeUser === 'AUTHOR'">
                <mat-icon mat-list-icon>library_books</mat-icon>
                Mis articulos
            </a>

            <a mat-list-item routerLink="committee/select" *ngIf="currentUser.privilegesTypeUser === 'COMMITTEE'">
                <mat-icon mat-list-icon>check_circle</mat-icon>
                Revisar articulo
            </a>

            <a mat-list-item routerLink="info">
                <mat-icon mat-list-icon>account_circle</mat-icon>
                Mi información
            </a>

            <a mat-list-item (click)="snav.toggle(); logOut();">
                <mat-icon mat-list-icon>close</mat-icon>
                Salir
            </a>
         </mat-nav-list>

    </mat-sidenav>
    <mat-sidenav-content>
            
        <mat-toolbar class="mat-elevation-z1" *ngIf="currentUser">
            <h2>Magasoft.</h2>
            <button mat-icon-button (click)="snav.toggle()" *ngIf="mobileQuery.matches">
                <mat-icon style="color: #fff">menu</mat-icon>
            </button>
        </mat-toolbar>

        <router-outlet></router-outlet>

    </mat-sidenav-content>

</mat-sidenav-container>