<h1 style="padding: 16px;">Revisión de formato</h1>

<div style="padding: 0 16px 16px 16px;">
  <div class="container-article">
    <mat-card>
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>Title article</mat-card-title>
        <mat-card-subtitle>
          <p>Autor article</p>
          <p>Category article</p>
        </mat-card-subtitle>
      </mat-card-header>
    </mat-card>
  </div>

  <div class="container-rewiew">
    <mat-card class="card-rewiew">
      <div class="description">
        Extension minima de 15 y maxima 20 paginas, tamaño carta, incluyendo ilustraciones e imágenes.
      </div>
      <div class="check">
        <mat-checkbox></mat-checkbox>
      </div>
      <div class="observation">
        <mat-form-field class="full-width">
          <textarea matInput placeholder="Observación"></textarea>
        </mat-form-field>
      </div>
    </mat-card>

    <mat-card class="card-rewiew">
        <div class="description">
          Texto una sola columna.
        </div>
        <div class="check">
          <mat-checkbox></mat-checkbox>
        </div>
        <div class="observation">
          <mat-form-field class="full-width">
            <textarea matInput placeholder="Observación"></textarea>
          </mat-form-field>
        </div>
      </mat-card>
  </div>
</div>