<h1 style="padding: 16px;">Revisión de figuras</h1>

<div style="padding: 0 16px 16px 16px;">
  <div class="container-article">
    <mat-card>
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>Title article</mat-card-title>
        <mat-card-subtitle>
          <p>Autor article</p>
          <p>Category article</p>
        </mat-card-subtitle>
      </mat-card-header>
    </mat-card>
  </div>

  <div class="container-rewiew">
    <mat-card class="card-rewiew">
      <div class="description">
        Tablas y figuras estar analizadas o directamente referidas en el texto
      </div>
      <div class="check">
        <mat-checkbox></mat-checkbox>
      </div>
      <div class="observation">
        <mat-form-field class="full-width">
          <textarea matInput placeholder="Observación"></textarea>
        </mat-form-field>
      </div>
    </mat-card>

    <mat-card class="card-rewiew">
      <div class="description">
        Material gráfico presentarse en archivos digitales individuales.
      </div>
      <div class="check">
        <mat-checkbox></mat-checkbox>
      </div>
      <div class="observation">
        <mat-form-field class="full-width">
          <textarea matInput placeholder="Observación"></textarea>
        </mat-form-field>
      </div>
    </mat-card>

    <mat-card class="card-rewiew">
      <div class="description">
          Material gráfico de acuerdo con su numeración y en blanco y negro, sin colores ni tramas adicionales.
      </div>
      <div class="check">
        <mat-checkbox></mat-checkbox>
      </div>
      <div class="observation">
        <mat-form-field class="full-width">
          <textarea matInput placeholder="Observación"></textarea>
        </mat-form-field>
      </div>
    </mat-card>

    <mat-card class="card-rewiew">
      <div class="description">
          Tabla o Figura, según el caso, seguida de su número consecutivo correspondiente, en arábigos.
      </div>
      <div class="check">
        <mat-checkbox></mat-checkbox>
      </div>
      <div class="observation">
        <mat-form-field class="full-width">
          <textarea matInput placeholder="Observación"></textarea>
        </mat-form-field>
      </div>
    </mat-card>
  </div>
</div>
