@import '@angular/material/prebuilt-themes/indigo-pink.css';
@import url(https://fonts.googleapis.com/icon?family=Material+Icons);

* {
    margin: unset;
    padding: unset;
}

html, body {
    height: 100%;
}

.mat-card, .mat-raised-button, .mat-button {
    border-radius: unset !important;
}
