@import '@angular/material/prebuilt-themes/indigo-pink.css';
@import url(https://fonts.googleapis.com/icon?family=Roboto);
@import url(https://fonts.googleapis.com/icon?family=Material+Icons);
@import url(https://use.fontawesome.com/releases/v5.8.2/css/all.css);
@import url(https://fonts.googleapis.com/css?family=Cormorant+Garamond&display=swap);
@import url(https://fonts.googleapis.com/css?family=Montserrat&display=swap);

@font-face {
    font-family: 'BLOKK';
    src: url('./assets/fonts/BLOKKNeue-Regular.eot');
    src: url('./assets/fonts/BLOKKNeue-Regular.eot?#iefix') format('embedded-opentype'),
         url('./assets/fonts/BLOKKNeue-Regular.woff2') format('woff2'),
         url('./assets/fonts/BLOKKNeue-Regular.woff') format('woff'),
         url('./assets/fonts/BLOKKNeue-Regular.otf') format('opentype'),
         url('./assets/fonts/BLOKKNeue-Regular.ttf') format('truetype'),
         url('./assets/fonts/BLOKKNeue-Regular.svg#BLOKKRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}


@media screen and (-webkit-min-device-pixel-ratio:0) {
    @font-face {
        font-family: 'BLOKK';
        src: url('./assets/fonts/BLOKKNeue-Regular.svg') format('svg');
    }
}

body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.blokk {
    font-family: 'BLOKK', serif;
    letter-spacing: -0.1em;
    line-height: 1.2em;
    color: #D7CBD7 !important;
 }

:root {
    --color-primary: #7A547C;
}

.blockk-font {
    font-family: 'BLOKK', Arial, Helvetica, sans-serif;
}

* {
    margin: unset;
    padding: unset;
}

.text-center {
    text-align: center;
}

.font-title, h1 {
    font-family: Cormorant, Garamond, Arial, Helvetica, sans-serif;
    color: #3C325C;
}

h1 {
    font-size: 3rem;
}

html, body {
    height: 100vh !important;
    font-family: Montserrat, Arial, Helvetica, sans-serif;
}

.mat-card, .mat-raised-button, .mat-button {
    border-radius: unset !important;
}

.card-form {
    max-width: 500px;
    width: 90%;
}

.swal2-popup {
    width: 20em !important;
}

.mat-drawer-container {
    background: unset;
    color: unset;
}

.mat-raised-button.primary[disabled] {
    background: #7A547C;
    color: #fff;
    opacity: .7;
}

.mat-raised-button.primary {
    background: #7A547C;
    color: #fff;
}

.mat-raised-button.danger {
    background: #EE434B;
    color: #fff;
}

.full-width {
    display: block;
    width: 100%;
}

a {
    color: #2292AB;
    text-decoration: none;
    display: inline-block;
    line-height: 36px;
    width: max-content;
    box-sizing: content-box;
}
