<h1 style="padding: 16px;">Bienvenido Administrador</h1>
<h2>
    Hace varios años trabajaba para una startup como Director de Ingeniería de Ventas. Un día entré en el trabajo y me pusieron en la mano una unidad de disco para guardar la demostración del producto. Desde ese momento poseo la demo y el código. Mi primera tarea sería modificarlo para una próxima llamada de ventas.

    Mis palmas comenzaron a sudar. Mi corazón comenzó a acelerarse. No tengo ni idea de cómo hacer esto, pensé.

    Pánico.

    Respiré hondo varias veces y me senté ante Google. Sabía un poco de HTML y CSS, pero no mucho. No sabía JavaScript o esta cosa jQuery con la que se construyó el proyecto. No sabía por dónde empezar. Podría hablar de tecnología.
</h2>