<h1 style="padding: 16px;">Registrar evaluador</h1>
<div style="padding: 0 16px 16px 16px;">

    <mat-card class="card-form">

        <form [formGroup]="evaluadorForm">

            <mat-form-field class="full-width">
                <input matInput type="number" placeholder="Identificación" formControlName="identificationUser">
                <mat-error *ngIf="identificationUser.hasError('required')">
                    La identificación es <strong>requerida</strong>
                </mat-error>
            </mat-form-field>

            <mat-form-field class="full-width">
                <input matInput placeholder="Nombres" formControlName="nameUser">
                <mat-error *ngIf="nameUser.hasError('required')">
                    El nombre es <strong>requerido</strong>
                </mat-error>
            </mat-form-field>

            <mat-form-field class="full-width">
                <input matInput placeholder="Apellidos" formControlName="lastNameUser">
                <mat-error *ngIf="lastNameUser.hasError('required')">
                    El apellido es <strong>requerido</strong>
                </mat-error>
            </mat-form-field>

            <mat-form-field class="full-width">
                <input matInput [matDatepicker]="picker" formControlName="birthDateUser" placeholder="Fecha de nacimiento">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
                <mat-error *ngIf="birthDateUser.hasError('required')">
                    La fecha es <strong>requerida</strong>
                </mat-error>
            </mat-form-field>

            <mat-form-field class="full-width">
                <input matInput placeholder="Email" formControlName="emailUser">
                <mat-error *ngIf="emailUser.hasError('email') && !emailUser.hasError('required')">
                    Por favor ingrese un email válido
                </mat-error>
                <mat-error *ngIf="emailUser.hasError('required')">
                    El email es <strong>requerido</strong>
                </mat-error>
            </mat-form-field>

            <mat-form-field class="full-width">
                <input matInput type="password" placeholder="Password" formControlName="passwordUser">
                <mat-error *ngIf="passwordUser.hasError('required')">
                    Password es <strong>requerido</strong>
                </mat-error>
            </mat-form-field>

            <mat-form-field class="full-width">
                <input matInput placeholder="Link Cvlack" formControlName="linkCvlackEvaluator">
                <mat-error *ngIf="linkCvlackEvaluator.hasError('required')">
                    El link es <strong>requerido</strong>
                </mat-error>
            </mat-form-field>

            <mat-form-field class="full-width">
                <input matInput placeholder="Nivel de educación" formControlName="levelEducationEvaluator">
                <mat-error *ngIf="levelEducationEvaluator.hasError('required')">
                    El nivel de educación es <strong>requerido</strong>
                </mat-error>
            </mat-form-field>

        </form>

        <button (click)="registerEvaluador()" [disabled]="evaluadorForm.invalid" class="primary" mat-raised-button>Registrar</button>
        <button (click)="evaluadorForm.reset()" class="danger" style="margin-left: 10px;" mat-raised-button>Cancelar</button>

    </mat-card>

</div>